# Creating an unmanaged (external) Spark table
This notebook describes how to create an unmanaged (also known as external) table from Spark. 
The table is created in /datalake/cities which may exist already (so you can attach to existing data) it can be created when you insert data.

In [4]:
spark.sql("CREATE TABLE cities (name STRING, population INT) USING PARQUET  LOCATION \'/datalake/cities\' OPTIONS (\'compression\'=\'snappy\')")

DataFrame[]

Insert a few rows into the table using a list of values.

In [5]:
spark.sql("INSERT INTO cities VALUES (\'Seattle\', 730400), (\'San Francisco\', 881549), (\'Beijing\', 21540000), (\'Bangalore\', 10540000)")

DataFrame[]

* Retrieve values back. Click on 'Chart' below to review the visualization.

In [6]:
display(spark.sql("SELECT * FROM cities ORDER BY name"))

Drop the table. Please note the data will remain in the data lake.

In [7]:
spark.sql("DROP TABLE cities")

DataFrame[]